site_name: ekishouTV's site
site_url: https://ekishoutv.github.io/

theme:
  name: material
  palette:
    scheme: slate
    primary: red
    accent: deep orange
  font:
    text: Zen Kaku Gothic Antique
  features:
    - navigation.top
    - navigation.footer
    - navigation.tabs
    - navigation.sections
    - navigation.indexes

plugins:
  - search
  - blog
  - social
  - roamlinks
  - rendering_obsidian_auto_card_link

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - attr_list

extra_css:
  - stylesheets/rendering_obsidian_auto_card_link.css
